header {
    a {
        margin: 5px;
    }
    .active-link-nav {
        background-color: crimson;
    }
    .logo {
        background-image: url('../../../assets/logo.png');
        align-items: center;
        height: 50px;
        width: 100px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .mat-icon {
        vertical-align: middle;
        margin: 0 5px;
    }
}
