.example-card {
    max-width: 400px;
    margin: 20px;
}

.example-header-image {
    background-size: cover;
}

.mat-table {
  box-shadow: none;
  width: 100%;
}

.product-listing-image {
  height: 13em;
  width: 22em;
}

.mat-spinner {
  margin: 10% auto;
}

@media all and (max-width:699px) {
  .product-listing-image {
    height: 7em;
    width: 10em;
  }
}
