<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/main1.jpg" alt="Random first slide" style = "width: 100%; height: 95vh;">
    </div>
    <div class="carousel-caption">
      <h3>Today is Better</h3>
      <p>If money cant buy happiness then give me your money</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/main2.jpg" alt="Random second slide" style = "width: 100%; height: 95vh;">
    </div>
    <div class="carousel-caption">
      <h3>Past is Worst</h3>
      <p>If money cant buy happiness then give me your money</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/main3.jpg" alt="Random third slide" style = "width: 100%; height: 95vh;">
    </div>
    <div class="carousel-caption">
      <h3>Future is Bright</h3>
      <p>If money cant buy happiness then give me your money</p>
    </div>
  </ng-template>
</ngb-carousel>


